<section class="aboutus-index">
  <header class="page-header">
  <h1>About Us </h1>
    <div class="aboutus-cont">
      <p> Here at the jungle, we are dedicated to making the user experience perfect! </p>
    </div>
  </header>

  
</section>
